<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{{name}}</title>
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        #footer {
            display: none;
        }

        #footer+p {
            width: 100%;
            font-size: 11px;
        }
        @media print {
            a:after { content:''; }
            a[href]:after { content: none !important; }
        }
    </style>
</head>

<body>
    <div class="container">
        <h4>{{name}}</h4>
        <p><a href="mailto:{{email}}">{{email}}</a> | {{phone}} | {{city}}</p>
        <hr />
        <h4 id="profile">{{profile.title}}</h4>
        <p>{{profile.description}}</p>
        <hr />
        {% if skills %}
        <h4 id="skills">{{skills.title}}</h4>
        <ul>
            {% for skill in skills.entries %}
            <li>
                <dl>
                    <dt>{{skill.title}}</dt>
                    <dd>{{skill.description}}</dd>
                </dl>
            </li>
            {% endfor %}
        </ul>
        <hr />
        {% endif %}
        <h4 id="experience">Experience</h4>
        {% for organization in experience %}
        {% for position in organization.positions %}
        <dl>
            <dt>{{organization.name}} | <em>{{position.name}}</em> | <strong>{{position.start}} - {{position.end}}</strong></dt>
        </dl>
        <ul>
            {% for detail in position.details %}
            <li>{{detail}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% endfor %}
        <hr />
        <h4 id="education">Education</h4>
        <p>{{education}}</p>
        <hr />
        <h3 id="footer">Footer</h3>
        <p>{{name}} &#8212; <a href="mailto:{{email}}">{{email}}</a> &#8212; {{phone}} &#8212;
            <a href="https://www.linkedin.com/in/{{linkedin}}">https://www.linkedin.com/in/{{linkedin}}</a>
        </p>
    </div>
</body>

</html>
